<header>
        <div class="logo-container">
            <a href="hello.html">
                <img alt="Логотип" src="https://static.overlay-tech.com/assets/ae4233cc-d46a-4999-85a8-c72e8779d3bb.png" class="logo"/>
            </a>
        </div>

        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        <nav class="dropdown-menu" id="dropdownMenu">
            <a href="#">Мой профиль</a>
            <a href="#">Друзья</a>
            <a href="#">История игр</a>
            <a href="#">Правила игры</a>
            <a href="#">Выйти</a>
        </nav>
</header>