<!-- myapp/templates/rules.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Правила игры{% endblock %}

{% block extra_head %}
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'css/base-header.css' %}">
<link rel="stylesheet" href="{% static 'css/base-footer.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="hello-text">
        <h1>Добро пожаловать</h1>
        <p class="text">
            <b>1. Противостояние зевоте:</b>
            Участники смотрят видео с зевающими людьми и пытаются не поддаться этому соблазну.
            <br>
            <b>2. Сила в контроле:</b>
            Ваша задача - держать себя в руках и не позволить зевоте одолеть вас.
            <br>
            <b>3. Фокус на внимании:</b>
            Глубже погрузитесь в видео, сохраняйте максимальную сосредоточенность и останьтесь на плаву в этом океане зевоты!
            <br>
            <b>4. Проигрывает первый зевнувший:</b>
            Будьте бдительны и не позволяйте зевоте взять над своим самообладанием верх.
            <br>
            <b>5. Честная игра:</b>
            Никаких уловок! Играйте честно и без провокаций, чтобы победить в этой нелегкой битве за бодрость!
            <br>
            Готовы ли вы принять вызов и доказать, что вы настоящий мастер контроля над зевотой?
        </p>
    </div>
</div>
{% endblock %}
