{% extends "base.html" %}

{% block title %}Мои игры{% endblock %}

{% block content %}
    <h1>Мои игры</h1>

    {% if games %}
        <table style="width: 100%; border-collapse: collapse; text-align: center;">
            <thead>
                <tr>
                    <th style="border: 1px solid black; padding: 8px;">Дата</th>
                    <th style="border: 1px solid black; padding: 8px;">Соперник</th>
                    <th style="border: 1px solid black; padding: 8px;">Результат</th>
                </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td style="border: 1px solid black; padding: 8px;">{{ game.formatted_date }}</td>
                    {% if id == game.idLose %}
                    <td style="border: 1px solid black; padding: 8px;">{{  game.idWin  }}</td>
                    <td style="border: 1px solid black; padding: 8px;">Вы проиграли</td>

                    {% else %}
                    <td style="border: 1px solid black; padding: 8px;">{{  game.idLose  }}</td>
                    <td style="border: 1px solid black; padding: 8px;">Вы победили</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>Вы еще не играли</p>
    {% endif %}
{% endblock %}
